In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s = pd.Series(np.random.randn(4), name='daily returns') #Creates a series of 4 random values.
s #Can use operators such as multiply or the the n.abs(s) for the absolute value for example.

In [ ]:
s.describe()

In [ ]:
s.index = ['Random Number 1', 'Random Number 2', 'Random Number 3', 'Random Number 4'] #Can be re-labelled
s['Random Number 2'] #Use like dictionaries

In [43]:
df = pd.read_csv('https://raw.githubusercontent.com/QuantEcon/lecture-python-programming/master/source/_static/lecture_specific/pandas/data/test_pwt.csv')
type(df)

pandas.core.frame.DataFrame

In [44]:
df

,country,country isocode,year,POP,XRAT,tcgdp,cc,cg
0,Argentina,ARG,2000,37335.653,0.999500,2.950722e+05,75.716805,5.578804
1,Australia,AUS,2000,19053.186,1.724830,5.418047e+05,67.759026,6.720098
2,India,IND,2000,1006300.297,44.941600,1.728144e+06,64.575551,14.072206
3,Israel,ISR,2000,6114.570,4.077330,1.292539e+05,64.436451,10.266688
4,Malawi,MWI,2000,11801.505,59.543808,5.026222e+03,74.707624,11.658954
5,South Africa,ZAF,2000,45064.098,6.939830,2.272424e+05,72.718710,5.726546
6,United States,USA,2000,282171.957,1.000000,9.898700e+06,72.347054,6.032454
7,Uruguay,URY,2000,3219.793,12.099592,2.525596e+04,78.978740,5.108068

In [ ]:
df[4:7] #Can slice the information like normal

In [ ]:
df.iloc[4:7, 0:3] #4-7 determines rows sliced whilst the second set defines the columns
#df.loc performs the same function apart from you can id rows with int and id columns by name.

In [ ]:
df = df[['POP', 'tcgdp']] #Can call the columns as so
df